.info-bar {
  color: white;
  text-align: center;
}
h3 {
  align-items: center;
}

.rotated {
  animation: rotation 2s infinite linear;
  /* transform: rotate(180deg); */
  /* background-color: gold; */
  filter: invert(92%) sepia(90%) saturate(802%) hue-rotate(359deg)
    brightness(102%) contrast(103%);
}

.minImg {
  width: 14%;
}

input {
  background-color: black;
  color: white;
  border: 1px solid white;
  text-align: center;
  width: 90px;
}

.info-bar > .btn button {
  padding: 10px;
  margin: 15px;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
